<div th:fragment="sidebar">
    <div class="logo">
        <a th:href="@{/}" class="simple-text logo-normal">
            CBD Payment
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/}">
                    <i class="material-icons">dashboard</i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/account}">
                    <i class="material-icons">account_circle</i>
                    <p>Account</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/account/deposit}">
                    <i class="material-icons">plus_one</i>
                    <p>Deposit</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/account/send-money}">
                    <i class="material-icons">redo</i>
                    <p>Send Money</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/admin/user}">
                    <i class="material-icons">settings</i>
                    <p>Admin</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/user}">
                    <i class="material-icons">person</i>
                    <p>User</p>
                </a>
            </li>

            <!--<li class="nav-item ">-->
            <!--<a class="nav-link" th:href="@{/tables}">-->
            <!--<i class="material-icons">content_paste</i>-->
            <!--<p>Table</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item ">-->
            <!--<a class="nav-link" th:href="@{/typography}">-->
            <!--<i class="material-icons">library_books</i>-->
            <!--<p>Typography</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" th:href="@{/icons}">-->
            <!--<i class="material-icons">bubble_chart</i>-->
            <!--<p>Icons</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item ">-->
            <!--<a class="nav-link" th:href="@{/map}">-->
            <!--<i class="material-icons">location_ons</i>-->
            <!--<p>Maps</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item ">-->
            <!--<a class="nav-link" th:href="@{/notifications}">-->
            <!--<i class="material-icons">notifications</i>-->
            <!--<p>Notifications</p>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>
