<div th:fragment="sidebar">
    <div class="logo">
        <a th:href="@{/}" class="simple-text logo-normal">
            CBD Payment
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/}">
                    <i class="material-icons">dashboard</i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/account}">
                    <i class="material-icons">account_circle</i>
                    <p>Account</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/account/transanction/deposit/open}">
                    <i class="material-icons">plus_one</i>
                    <p>Deposit</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" th:href="@{/account/transanction/send-money/create}">
                    <i class="material-icons">redo</i>
                    <p>Send Money</p>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"
                >
                <a class="nav-link" th:href="@{/admin/user}">
                    <i class="material-icons">settings</i>
                    <p>Admin</p>
                </a>
            </li>
        </ul>
    </div>
</div>
