<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>
    User
  </title>
  <th:block th:replace="common/header :: header"></th:block>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <th:block th:replace="common/sidebar :: sidebar"></th:block>
    </div>
    <div class="main-panel">
      <th:block th:replace="common/navbar :: navbar"></th:block>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <th:block th:replace="common/alert :: alert-block"></th:block>
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Deposit</h4>
                  <p class="card-category">add money to your account</p>
                </div>
                <div class="card-body">
                  <form th:action="@{/account/transanction/deposit/details}" th:object="${accountTransanctionHistoryDto}" method="post">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Branch Code</label>
                          <input type="text" name="branchId" class="form-control">
                          <span th:if="${#fields.hasErrors('branchId')}" th:errors="*{branchId}"
                                class="text-danger">Invalid amount</span>

                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bank Product</label>
                          <input type="text" name="bankProductId" class="form-control">
                          <span th:if="${#fields.hasErrors('bankProductId')}" th:errors="*{bankProductId}"
                                class="text-danger">Invalid amount</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Account</label>
                          <input type="text" name="accountId" class="form-control">
                          <span th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"
                                class="text-danger">Invalid amount</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Deposited Amount</label>
                          <input type="text" name="depositedAmount" class="form-control">
                          <span th:if="${#fields.hasErrors('depositedAmount')}" th:errors="*{depositedAmount}"
                                class="text-danger">Invalid amount</span>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-primary pull-right">Check</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <th:block th:replace="common/footer :: footer"></th:block>
    </div>
  </div>
  <th:block th:replace="common/footer-plugins :: footer-plugins"></th:block>
  <th:block th:replace="common/footer-lib :: footerlib"></th:block>
</body>

</html>
