<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>
        User
    </title>
    <th:block th:replace="common/header :: header"></th:block>
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../../assets/img/sidebar-1.jpg">
        <th:block th:replace="common/sidebar :: sidebar"></th:block>
    </div>
    <div class="main-panel">
        <th:block th:replace="common/navbar :: navbar"></th:block>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Money Transfer</h4>
                            <p class="card-category">account to account money transfer</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">From Account Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">To Account Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Amount</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-primary pull-right">Check</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header card-header-success">
                                                <h4 class="card-title">Sender</h4>
                                                <p class="card-category">sender information</p>
                                            </div>
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Fist Name</label>
                                                            <input type="text" class="form-control" value="Biswajit"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Last Name</label>
                                                            <input type="text" class="form-control" value="Debnath"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Address</label>
                                                            <input type="text" class="form-control"
                                                                   value="465/28/B, West Rampura" disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Contact</label>
                                                            <input type="text" class="form-control"
                                                                   value="+8801937595521"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">City</label>
                                                            <input type="text" class="form-control" value="Dhaka"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Country</label>
                                                            <input type="text" class="form-control" value="Bangladesh"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Postal Code</label>
                                                            <input type="text" class="form-control" value="1219"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">National ID</label>
                                                            <input type="text" class="form-control" value="2355378998"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Date of Birth</label>
                                                            <input type="text" class="form-control" value="27/12/1994"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Current Balance</label>
                                                            <input type="text" class="form-control" value="300000"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header card-header-success">
                                                <h4 class="card-title">Receiver</h4>
                                                <p class="card-category">receiver information</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Fist Name</label>
                                                            <input type="text" class="form-control" value="Biswajit"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Last Name</label>
                                                            <input type="text" class="form-control" value="Debnath"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Address</label>
                                                            <input type="text" class="form-control"
                                                                   value="465/28/B, West Rampura" disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Contact</label>
                                                            <input type="text" class="form-control"
                                                                   value="+8801937595521"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">City</label>
                                                            <input type="text" class="form-control" value="Dhaka"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Country</label>
                                                            <input type="text" class="form-control" value="Bangladesh"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Postal Code</label>
                                                            <input type="text" class="form-control" value="1219"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">National ID</label>
                                                            <input type="text" class="form-control" value="2355378998"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Date of Birth</label>
                                                            <input type="text" class="form-control" value="27/12/1994"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Current Balance</label>
                                                            <input type="text" class="form-control" value="300000"
                                                                   disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Send Money</button>
                                <a class="btn btn-danger pull-right">Cancel</a>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<th:block th:replace="common/footer :: footer"></th:block>
</div>
</div>
<th:block th:replace="common/footer-plugins :: footer-plugins"></th:block>
<th:block th:replace="common/footer-lib :: footerlib"></th:block>
</body>

</html>
