<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>
    User
  </title>
  <th:block th:replace="common/header :: header"></th:block>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <th:block th:replace="common/sidebar :: sidebar"></th:block>
    </div>
    <div class="main-panel">
      <th:block th:replace="common/navbar :: navbar"></th:block>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                  <form th:action="@{/profile}" method="post" th:object="${profileViewDto}">
                    <input type="hidden" th:field="*{profile.id}"/>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">First Name</label>
                          <input type="text" th:field="*{profile.firstName}" class="form-control" >
                          <span th:if="${#fields.hasErrors('profile.firstName')}" th:errors="*{profile.firstName}" class="text-danger">First name is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" th:field="*{profile.lastName}" class="form-control" >
                          <span th:if="${#fields.hasErrors('profile.lastName')}" th:errors="*{profile.lastName}" class="text-danger">Last name is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Date of Birth</label>
                          <input type="text" th:field="*{profile.dateOfBirth}" class="form-control" >
                          <span th:if="${#fields.hasErrors('profile.dateOfBirth')}"  class="text-danger">Date of birth is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contact</label>
                          <input type="text" th:field="*{profile.mobileNumber}" class="form-control" >
                          <span th:if="${#fields.hasErrors('profile.mobileNumber')}" th:errors="*{profile.mobileNumber}" class="text-danger">Mobile number is required</span>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="text" th:field="*{profile.email}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.email')}" th:errors="*{profile.email}" class="text-danger">Email is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Occupation</label>
                          <input type="text" th:field="*{profile.occupation}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.occupation')}" th:errors="*{profile.occupation}" class="text-danger">Occupation is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Designation</label>
                          <input type="text" th:field="*{profile.designation}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.designation')}" th:errors="*{profile.designation}" class="text-danger">Designation is required</span>

                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sex</label>
                          <input type="text" th:field="*{profile.sex}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.sex')}" th:errors="*{profile.sex}" class="text-danger">Sex is required</span>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nationality</label>
                          <input type="text" th:field="*{profile.nationality}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.nationality')}" th:errors="*{profile.nationality}" class="text-danger">Nationality is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">National ID</label>
                          <input type="text" th:field="*{profile.nationalId}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.nationalId')}" th:errors="*{profile.nationalId}" class="text-danger">National ID is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Passport ID</label>
                          <input type="text" th:field="*{profile.passportId}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.passportId')}" th:errors="*{profile.passportId}" class="text-danger">Passport is required</span>

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tin Number</label>
                          <input type="text" th:field="*{profile.tinNumber}" class="form-control">
                          <span th:if="${#fields.hasErrors('profile.tinNumber')}" th:errors="*{profile.tinNumber}" class="text-danger">Tin number is required</span>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="card">
                        <div class="card-header card-header-info">
                          <h4 class="card-title">Present Address</h4>
                        </div>
                        <div class="card-body">
                          <input type="hidden" th:field="*{presentAddress.id}"/>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Road No</label>
                                <input type="text" th:field="*{presentAddress.roadNo}" class="form-control" >
                                <span th:if="${#fields.hasErrors('presentAddress.roadNo')}" th:errors="*{presentAddress.roadNo}" class="text-danger">Road no is required</span>

                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">House No</label>
                                <input type="text" th:field="*{presentAddress.houseNo}" class="form-control" >
                                <span th:if="${#fields.hasErrors('presentAddress.houseNo')}" th:errors="*{presentAddress.houseNo}" class="text-danger">House no is required</span>

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" th:field="*{presentAddress.city}" class="form-control" >
                                <span th:if="${#fields.hasErrors('presentAddress.city')}" th:errors="*{presentAddress.city}" class="text-danger">City is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input type="text" th:field="*{presentAddress.postCode}" class="form-control" >
                                <span th:if="${#fields.hasErrors('presentAddress.postCode')}" th:errors="*{presentAddress.postCode}" class="text-danger">Post code is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" th:field="*{presentAddress.country}" class="form-control" >
                                <span th:if="${#fields.hasErrors('presentAddress.country')}" th:errors="*{presentAddress.country}" class="text-danger">Country is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Contact</label>
                                <input type="text" th:field="*{presentAddress.contact}" class="form-control" >
                                <span th:if="${#fields.hasErrors('presentAddress.contact')}" th:errors="*{presentAddress.contact}" class="text-danger">Contact is required</span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="card">
                        <div class="card-header card-header-info">
                          <h4 class="card-title">Parmanent Address</h4>
                        </div>
                        <div class="card-body">
                          <input type="hidden" th:field="*{parmanentAddress.id}"/>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Road No</label>
                                <input type="text" th:field="*{parmanentAddress.roadNo}" class="form-control">
                                <span th:if="${#fields.hasErrors('parmanentAddress.roadNo')}" th:errors="*{parmanentAddress.roadNo}" class="text-danger">Road no is required</span>

                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">House No</label>
                                <input type="text" th:field="*{parmanentAddress.houseNo}" class="form-control">
                                <span th:if="${#fields.hasErrors('parmanentAddress.houseNo')}" th:errors="*{parmanentAddress.houseNo}" class="text-danger">House no is required</span>

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" th:field="*{parmanentAddress.city}" class="form-control">
                                <span th:if="${#fields.hasErrors('parmanentAddress.city')}" th:errors="*{parmanentAddress.city}" class="text-danger">City is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input type="text" th:field="*{parmanentAddress.postCode}" class="form-control">
                                <span th:if="${#fields.hasErrors('parmanentAddress.postCode')}" th:errors="*{parmanentAddress.postCode}" class="text-danger">Post code is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" th:field="*{parmanentAddress.country}" class="form-control">
                                <span th:if="${#fields.hasErrors('parmanentAddress.country')}" th:errors="*{parmanentAddress.country}" class="text-danger">Country is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Contact</label>
                                <input type="text" th:field="*{parmanentAddress.contact}" class="form-control">
                                <span th:if="${#fields.hasErrors('parmanentAddress.contact')}" th:errors="*{parmanentAddress.contact}" class="text-danger">Contact is required</span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="card">
                        <div class="card-header card-header-info">
                          <h4 class="card-title">Official Address</h4>
                        </div>
                        <div class="card-body">
                          <input type="hidden" th:field="*{officeAddress.id}"/>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Road No</label>
                                <input type="text" th:field="*{officeAddress.roadNo}" class="form-control" >
                                <span th:if="${#fields.hasErrors('officeAddress.roadNo')}" th:errors="*{officeAddress.roadNo}" class="text-danger">Road no is required</span>

                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">House No</label>
                                <input type="text" th:field="*{officeAddress.houseNo}" class="form-control" >
                                <span th:if="${#fields.hasErrors('officeAddress.houseNo')}" th:errors="*{officeAddress.houseNo}" class="text-danger">House no is required</span>

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" th:field="*{officeAddress.city}" class="form-control" >
                                <span th:if="${#fields.hasErrors('officeAddress.city')}" th:errors="*{officeAddress.city}" class="text-danger">City is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input type="text" th:field="*{officeAddress.postCode}" class="form-control" >
                                <span th:if="${#fields.hasErrors('officeAddress.postCode')}" th:errors="*{officeAddress.postCode}" class="text-danger">Post code is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" th:field="*{officeAddress.country}" class="form-control" >
                                <span th:if="${#fields.hasErrors('officeAddress.country')}" th:errors="*{officeAddress.country}" class="text-danger">Country is required</span>

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="bmd-label-floating">Contact</label>
                                <input type="text" th:field="*{officeAddress.contact}" class="form-control" >
                                <span th:if="${#fields.hasErrors('officeAddress.contact')}" th:errors="*{officeAddress.contact}" class="text-danger">Contact is required</span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Save Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" th:src="@{/assets/img/faces/marc.jpg}" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray" th:text="${profileViewDto?.profile?.designation}">CEO / Co-Founder</h6>
                  <h4 class="card-title" th:text="${profileViewDto?.profile?.firstName+' '+profileViewDto?.profile?.lastName}">Biswajit Debnath</h4>
                  <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <th:block th:replace="common/footer :: footer"></th:block>
    </div>
  </div>
  <th:block th:replace="common/footer-plugins :: footer-plugins"></th:block>
  <th:block th:replace="common/footer-lib :: footerlib"></th:block>
</body>

</html>
