<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>
    User
  </title>
  <th:block th:replace="common/header :: header"></th:block>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <th:block th:replace="common/sidebar :: sidebar"></th:block>
    </div>
    <div class="main-panel">
      <th:block th:replace="common/navbar :: navbar"></th:block>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Profile</h4>
                  <p class="card-category">Your complete profile</p>
                </div>
                <div class="card-body">
                  <form th:object="${profile}">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">First Name</label>
                          <input type="text" th:field="*{firstName}" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" th:field="*{lastName}" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Date of Birth</label>
                          <input type="text" th:field="*{dateOfBirth}" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contact</label>
                          <input type="text" th:field="*{mobileNumber}" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="text" th:field="*{email}" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Occupation</label>
                          <input type="text" th:field="*{occupation}" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Designation</label>
                          <input type="text" th:field="*{designation}" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">National ID</label>
                          <input type="text" th:field="*{nationalId}" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Passport ID</label>
                          <input type="text" th:field="*{passportId}" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tin Number</label>
                          <input type="text" th:field="*{tinNumber}" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <a th:href="@{/profile/edit}" class="btn btn-primary pull-right">Edit Profile</a>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" th:src="@{/assets/img/faces/marc.jpg}" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray" th:text="${profile.designation}">CEO / Co-Founder</h6>
                  <h4 class="card-title" th:text="${profile.firstName+' '+profile.lastName}">Biswajit Debnath</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <th:block th:replace="common/footer :: footer"></th:block>
    </div>
  </div>
  <th:block th:replace="common/footer-plugins :: footer-plugins"></th:block>
  <th:block th:replace="common/footer-lib :: footerlib"></th:block>
</body>

</html>
