<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>
        User
    </title>
    <th:block th:replace="common/header :: header"></th:block>
    <link href="../../../static/customs/css/account.css" th:href="@{/customs/css/account.css}" rel="stylesheet" />

</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <th:block th:replace="common/sidebar :: sidebar"></th:block>
    </div>
    <div class="main-panel">
        <th:block th:replace="common/navbar :: navbar"></th:block>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <th:block th:replace="common/alert :: alert-block"></th:block>
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Money Transfer</h4>
                            <p class="card-category">account to account money transfer</p>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/account/transanction/send-money/details}" method="post" th:object="${sendMoneyDto}">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Branch Code</label>
                                                <input type="text" name="fromAccount.branchId" class="form-control">
                                                <span th:if="${#fields.hasErrors('fromAccount.branchId')}" th:errors="*{fromAccount.branchId}"
                                                      class="text-danger">Invalid branch code</span>

                                            </div>
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Product Code</label>
                                                <input type="text" name="fromAccount.bankProductId" class="form-control">
                                                <span th:if="${#fields.hasErrors('fromAccount.bankProductId')}" th:errors="*{fromAccount.bankProductId}"
                                                      class="text-danger">Invalid product code</span>

                                            </div>
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">From Account</label>
                                                <input type="text" name="fromAccount.accountId" class="form-control">
                                                <span th:if="${#fields.hasErrors('fromAccount.accountId')}" th:errors="*{fromAccount.accountId}"
                                                      class="text-danger">Invalid account number</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-seprator"></div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Branch Code</label>
                                                <input type="text" name="toAccount.branchId" class="form-control">
                                                <span th:if="${#fields.hasErrors('toAccount.branchId')}" th:errors="*{toAccount.branchId}"
                                                      class="text-danger">Invalid branch code</span>

                                            </div>
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Product Code</label>
                                                <input type="text" name="toAccount.bankProductId" class="form-control">
                                                <span th:if="${#fields.hasErrors('toAccount.bankProductId')}" th:errors="*{toAccount.bankProductId}"
                                                      class="text-danger">Invalid bank product  code</span>

                                            </div>
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">To Account </label>
                                                <input type="text" name="toAccount.accountId" class="form-control">
                                                <span th:if="${#fields.hasErrors('toAccount.accountId')}" th:errors="*{toAccount.accountId}"
                                                      class="text-danger">Invalid account number</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Amount</label>
                                                    <input type="text" name="sendingAmount" class="form-control">
                                                    <span th:if="${#fields.hasErrors('sendingAmount')}" th:errors="*{sendingAmount}"
                                                          class="text-danger">Invalid amount</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary pull-right">Check</button>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="btn btn-danger pull-right" th:href="@{/}">Cancel</a>
                                            </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<th:block th:replace="common/footer :: footer"></th:block>
</div>
</div>
<th:block th:replace="common/footer-plugins :: footer-plugins"></th:block>
<th:block th:replace="common/footer-lib :: footerlib"></th:block>
</body>

</html>
