<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>
        User
    </title>
    <link href="../static/customs/css/login.css" th:href="@{/customs/css/login.css}" rel="stylesheet" />
    <th:block th:replace="common/header :: header"></th:block>
</head>

<body class="">
<div class="content login-background">
    <div class="container-fluid">
        <div class="row login-block">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Login</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post" th:object="${userAccountDto}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Username or Email</label>
                                        <input type="text" name="username" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Password</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right">Login</button>
                            <div class="clearfix"></div>
                        </form>
                        <!--<div class="row">-->
                            <!--<th:block th:replace="common/alert :: alert-block"></th:block>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/footer-plugins :: footer-plugins"></th:block>
<th:block th:replace="common/footer-lib :: footerlib"></th:block>
</body>
</html>
