<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>
    Map
  </title>
  <th:block th:replace="common/header :: header"></th:block>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <th:block th:replace="common/sidebar :: sidebar"></th:block>
    </div>
    <div class="main-panel">
      <th:block th:replace="common/navbar :: navbar"></th:block>
      <div id="map"></div>
    </div>
  </div>
  <th:block th:replace="common/footer-plugins :: footer-plugins"></th:block>
  <th:block th:replace="common/footer-lib :: footerlib"></th:block>
</body>

</html>
